* {
    box-sizing: border-box;
}
.b {
    border: 1px solid black;
}
.b1 {
    background-color: aqua;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: stretch;
}
.b2, .b3 {
    flex-grow: 1;
}
.b3 {
    display: flex;
    flex-direction: column;
}
.b4, .b5 {
    flex-grow: 1;
}
.b5 {
    display: flex;
}
.b6, .b7 {
    flex-grow: 1;
}