* {
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Image section*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url("image_1.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    position: relative;

    height: 100vh;
    width: 100vw;
    

}
.top {
    display: flex;
    height: 100vh;
    width: 100vw;

    flex-direction: column;
    position: sticky;
    justify-content: center;
    padding-top: 50px;
    /*background-color: white;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    
}
.nav1 {
    height: 200rem;
    width: 100%;
    display: flex;
    justify-content: center;

    top: 0;
    position: absolute;
    
}
nav {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
}
.navbar {
    display: inline;
    color: white;
    cursor: pointer;
}
.name {
    text-align: center;
    font-size: 1rem;
}
.head1, .para1{
    font-weight: lighter;

    color: white;
}
.span1 {
    font-weight: bold;

    
}


/* Featured Portfolio section*/

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    height: 100vh;
    width: 100vw;
    background-color: black;
}
.sub-portfolio {
}
.head2 {
    font-weight: lighter;
    color: white;
}
.span2 {
    font-weight: bold;
}
.nav2 {
    height: 200rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    top: 10rem;
    position: absolute;
}
.navbar2 {
    display: flex;
    color: white;
    cursor: pointer;

}
.navbar2:hover {
    color: greenyellow;
}

/*
.container{
    width: 100vw;
    height: 30vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}



.cont-img1{
    background-color: red;
    background-image: url("builder-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*/

